# IGNORE FOLDERS

**.ipynb_checkpoints/
**__pycache__/
.vimspector.json
**dataset/
**clean_dataset/
**final_dataset/
**saved_models/
**augmented_dataset/
**random_augmented_dataset_v3/
**train_val_test_dataset/
**summit_code/
