# IGNORE FOLDERS

**.ipynb_checkpoints/
**__pycache__/
.vimspector.json
**dataset/
**clean_dataset/
**final_dataset/
**saved_models/
**augmented_dataset/
**random_augmented_dataset/
**random_augmented_dataset_v2/
**random_augmented_dataset_v3/
**random_augmented_dataset_v4/
**random_augmented_dataset_v5/
**train_val_test_dataset/
